.body{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: #f5f5f5;
}

.loginCard{
  max-width: 500px !important;
  margin: 2em auto;
  text-align: center;
  max-height: 600px;
  padding: 50px;
  border-radius: 15px;
}

.header{
  text-align: center;
}

.full-width{
  width: 80%;
}

.error{
  color: red;
}

/* Estilo para el contenedor principal */
.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

/* Estilo para el texto "¿No tienes cuenta?" */
.no-cuenta {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

/* Estilo para el enlace "Crear una aquí" */
.crearCuenta {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Cambio de color del enlace al pasar el mouse */
.crearCuenta:hover {
  color: #0056b3;
}
