<div class="body animate__animated animate__fadeIn">
  <mat-card class="loginCard">
      <div class="header">
          <h2>Bienvenido</h2>
      </div>
      <mat-card-content style="padding-bottom: 15px;">
          <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="login()">
              <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Correo</mat-label>
                  <input formControlName="email" matInput autocomplete="off" placeholder="Ingresa tu correo">
                  <mat-icon matSuffix>mail</mat-icon>
              </mat-form-field>
              <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Contraseña</mat-label>
                  <input [type]="ocultarPassword ? 'password' : 'text'" autocomplete="off" formControlName="password" matInput placeholder="Ingresa tu contraseña">
                  <button mat-icon-button matSuffix (click)="ocultarPassword = !ocultarPassword" type="button">
                      <mat-icon matSuffix>{{ocultarPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
              </mat-form-field>
              <re-captcha formControlName="recaptcha" siteKey={{publicSiteKey}}></re-captcha>
              <br>
              <p *ngIf="myForm.get('email')?.errors && myForm.get('email')?.touched" class="error">
                  Por favor introduce un correo valido*
              </p>
              <p *ngIf="myForm.get('password')?.errors && myForm.get('password')?.touched" color="warn" class="error">
                  La contraseña es obligatoria*
              </p>
              <button class="full-width" mat-raised-button color="primary" type="submit" [disabled]="myForm.invalid">
                Iniciar Sesión <mat-icon matSuffix>login</mat-icon>
              </button>
          </form>
          <br>
          <mat-divider></mat-divider>
          <div class="register">
            <span class="no-cuenta">
                ¿No tienes cuenta?
            </span>
            <a class="crearCuenta" routerLink="/auth/register">
                Crear una aquí
            </a>
          </div>
      </mat-card-content>
  </mat-card>
</div>
