<div *ngIf="isLoaded" class="container animate__animated animate__fadeIn">
  <div class="image">
    <img [src]="infoReceta.image" class="img-fluid" alt="Imagen">
  </div>
  <div class="content">
    <div class="title">{{infoReceta.title}}</div>
    <div class="description">
      <p [innerHTML]="infoReceta.summary"></p>
    </div>
    <div class="extra-data">
      <mat-chip-listbox aria-label="Extras">
        <mat-chip>
          <mat-icon matChipAvatar fontIcon="health_and_safety"></mat-icon>
          Saludable: {{infoReceta.healthScore <= 0 ? 'No': infoReceta.healthScore}}
        </mat-chip>
        <mat-chip>
          <mat-icon matChipAvatar fontIcon="scheduled"></mat-icon>
          Tiempo de preparación {{infoReceta.readyInMinutes}} min
        </mat-chip>
        <mat-chip>
          <mat-icon matChipAvatar fontIcon="star"></mat-icon>
          Vegano: {{infoReceta.vegan ? 'Si' : 'No'}}
        </mat-chip>
        <mat-chip>
          <mat-icon matChipAvatar fontIcon="star"></mat-icon>
          Calificación: {{infoReceta.spoonacularScore ? infoReceta.spoonacularScore : 'N/A' }}
        </mat-chip>
      </mat-chip-listbox>
    </div>
  </div>
</div>
<div class="container-ingredients animate__animated animate__fadeIn">
  <mat-divider></mat-divider>
  <button mat-button (click)="verIngredients()">Ver Ingredientes <mat-icon fontIcon="visibility"></mat-icon></button>
  <div class="container">
    <div class="preparacion">
      <h2>Preparación</h2>
      <mat-stepper class="steps" orientation="vertical">
        <ng-container *ngFor="let step of instructionRecipe.steps">
          <mat-step>
            <ng-template matStepLabel>Paso {{step.number}}</ng-template>
            <ng-template matStepContent>
              <p>{{step.step}}</p>
              <button mat-button matStepperNext>Siguiente</button>
            </ng-template>
          </mat-step>
        </ng-container>
      </mat-stepper>
    </div>
    <div class="relacionadas">
      <h2>Podria interesarte</h2>
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item" *ngFor="let recipe of similarRecipes">
            <img src="https://spoonacular.com/recipeImages/{{recipe.id}}-90x90.{{recipe.imageType}}" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>
  </div>
</div>
