.container {
  display: flex;
  margin: 20px;
}

.image {
  padding: 10px;
  text-align: center;
}

.image img {
  min-width: 350px;
  height: auto;
  border-radius: 15px;
  object-fit: fill;
  width: 100%;
}

.content {
  padding: 10px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
  margin-bottom: 10px;
}

.extra-data {
  font-size: 14px;
  color: #888;
}

.ingredient-list {
  margin-top: 20px;
  font-size: 18px;
}

.ingredient-list ul {
  list-style-type: disc;
  padding-left: 20px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

.container-ingredients{
  margin: 25px;
}

@media (max-width: 768px) {
  .ingredients {
    flex: 0 0 100%;
  }
}

.steps{
  max-width: 450px;
}

.card{
  max-width: 240px;
  margin: 10px;
  padding: 0px;
  box-shadow: 0 14px 26px rgba(0,0,0,0.04);
  transition: all 0.3s ease-out;
}

.card:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0,0,0,0.11), 0 24px 46px var(--box-shadow-color);
  cursor: pointer;
}

.card-img{
  object-fit: fill;
  width: 100%;
  filter: brightness(35%);
}
