<div *ngIf="isLoaded" class="container animate__animated animate__fadeIn">
  <div class="image">
    <img [src]="infoReceta.image" class="img-fluid" alt="Imagen">
  </div>
  <div class="content">
    <div class="title">{{infoReceta.title}}</div>
    <div class="description">
      <p [innerHTML]="infoReceta.summary"></p>
    </div>
    <div class="extra-data">
      <mat-chip-listbox aria-label="Extras">
        <mat-chip>
          <mat-icon matChipAvatar fontIcon="health_and_safety"></mat-icon>
          Saludable: {{infoReceta.healthScore <= 0 ? 'No': infoReceta.healthScore}}
        </mat-chip>
        <mat-chip>
          <mat-icon matChipAvatar fontIcon="scheduled"></mat-icon>
          Tiempo de preparación {{infoReceta.readyInMinutes}} min
        </mat-chip>
        <mat-chip>
          <mat-icon matChipAvatar fontIcon="star"></mat-icon>
          Vegano: {{infoReceta.vegan ? 'Si' : 'No'}}
        </mat-chip>
        <mat-chip>
          <mat-icon matChipAvatar fontIcon="star"></mat-icon>
          Calificación: {{infoReceta.spoonacularScore ? infoReceta.spoonacularScore : 'N/A' }}
        </mat-chip>
      </mat-chip-listbox>
    </div>
  </div>
</div>
<div class="container-ingredients animate__animated animate__fadeIn">
  <mat-divider></mat-divider>
  <button mat-button (click)="verIngredients()">Ver Ingredientes <mat-icon fontIcon="visibility"></mat-icon></button>
  <div class="container row">
    <div *ngIf="isLoaded" class="preparacion col">
      <h2>Preparación</h2>
      <mat-stepper class="steps" orientation="vertical">
        <ng-container *ngFor="let step of instructionRecipe.steps">
          <mat-step>
            <ng-template matStepLabel>Paso {{step.number}}</ng-template>
            <ng-template matStepContent>
              <p>{{step.step}}</p>
              <button mat-button matStepperNext>Siguiente</button>
            </ng-template>
          </mat-step>
        </ng-container>
      </mat-stepper>
    </div>
    <div class="relacionadas col">
      <h2>Podria interesarte</h2>
      <div class="row">
        <div class="card col-md-auto text-bg-dark" *ngFor="let recipe of similarRecipes" [routerLink]="['/dashboard/receta', recipe.id]">
          <img [src]="recipe.id | imageUrl: recipe.imageType : '312x150'" class="card-img" alt="{{recipe.title}}">
          <div class="card-img-overlay">
            <h4 class="card-title">{{recipe.title}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
