<div class="container animate__animated animate__fadeIn">
  <h3>Recetas del día</h3>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="myControl" class="d-flex" role="search">
    <mat-form-field class="example-full-width">
      <input type="text"
             placeholder="Buscar una receta"
             aria-label="Buscador"
             formControlName="search"
             matInput
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let recipe of autocompleteRecipes" [value]="autocompleteToSearch">
          {{recipe.id}} - {{recipe.title}}
        </mat-option>
        <mat-option *ngIf="!terminoEncontrado">
          <p >No encontramos recetas relacionadas a {{myControl.get('search')?.value}}</p>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col animate__animated animate__fadeIn" *ngFor="let recipe of randomRecipes.recipes">
      <div class="card mb-3" style="max-width: 500px;" >
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{recipe.image}}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title">{{recipe.title}}</h4>
              <p class="card-text truncate-text" [innerHTML]="recipe.summary"></p>
              <button mat-raised-button color="primary" routerLink="receta/{{recipe.id}}">Ir a la receta</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
